# 11-06-2024

In [1]:
import pandas as pd
import numpy as no
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv(r"C:\Users\keert\Documents\DATA SCIENCE\nareshit\datafiles\Visadataset - Visadataset.csv")
visa_df.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

**Standardization**
- Standardization is a technique scale all the data under one scale
- Different columns has different values also different units
- some column values has bigger values , some column values has lesser values
- so it is important to keep all the values under one scale
- we have two methods are there
  - Standardization
  - Normalization
    
**- Standardization**

     - Z-score
     - Z score varies values from -3 to 3

<img id="dimg_25" src="" class="YQ4gaf" height="192" style="object-position:0% 100%" width="262" alt="Z-Score Formula" data-csiid="36" data-atf="4">

<img id="dimg_381" src="" class="YQ4gaf" height="193" style="object-position:25% 33%" width="261" alt="Data Analysis 101: The Z-Score is Your ..." data-csiid="34" data-atf="4">

**- Normalization**
  - min max scalar
  - values ranges from 0 to 1

<img id="dimg_189" src="" class="YQ4gaf zr758c" height="106" style="object-position:0% 66%" width="476" alt="how MinMaxScaler() works ..." data-csiid="26" data-atf="4">

**task**
- step-1: take prevailing wage column : **visa_df['prevailing_wage']**
  
- step-2: calculate mean value of prevailing wage : **visa_df['prevailing_wage'].mean**
  
- step-3: calculate standard deviation of prevailing wage  : **visa_df['prevailing_wage'].std**
  
- step-4: calculate the NR : step-1 - step-2  : **visa_df['prevailing_wage']-mean**
  
- step-5: divide the step4/step3

In [4]:
# step-1
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [8]:
# step-2
mean=visa_df['prevailing_wage'].mean()

In [9]:
# step-3
std=visa_df['prevailing_wage'].std()

In [11]:
# step-4
Nr=visa_df['prevailing_wage']-mean

In [14]:
#step-5
visa_df['prevailing_wage_z']=Nr/std
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

**task-3**
- compare thetwo columns
- get the maximum value and minimum value of the indexes
- the both indexes should match

**idxmax- idxmin**

In [18]:
maxx=visa_df['prevailing_wage'].idxmax(),visa_df['prevailing_wage_z'].idxmax()
minn=visa_df['prevailing_wage'].idxmin(),visa_df['prevailing_wage_z'].idxmin()
maxx,minn

((21077, 21077), (20575, 20575))

In [19]:
max_val=visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()
min_val=visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

max_val,min_val

((319210.27, 4.634101837909902), (2.1367, -1.4096818992891214))

**StandardiScalar**
- StandardiScalar same as Z-score but by using package
- It is under sklearn package
- In the sklearn we have preprocessing
- Read the data again
- save the package
- apply fit transform
- compare 3 columns
     - one is original 
     - Manually we did z-score
     - column with package

In [21]:
from sklearn.preprocessing import StandardScaler

ss= StandardScaler()

visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

- single square bracket is series 
- double square bracket is Data frame
- whwnever you see shape error apply double square bracket

In [22]:
visa_df[['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']]

       prevailing_wage  prevailing_wage_z  prevailing_wage_ss
0             592.2029          -1.398510           -1.398537
1           83425.6500           0.169832            0.169835
2          122996.8600           0.919060            0.919079
3           83434.0300           0.169991            0.169994
4          149907.3900           1.428576            1.428604
...                ...                ...                 ...
25475       77092.5700           0.049923            0.049924
25476      279174.7900           3.876083            3.876159
25477      146298.8500           1.360253            1.360280
25478       86154.7700           0.221504            0.221509
25479       70876.9100          -0.067762           -0.067763

[25480 rows x 3 columns]

**Normalization**
- Read the data again
**task**
- step-1: take prevailing wage column : **visa_df['prevailing_wage']**

- step-2: calculate the min value of prevailing wage :min= **visa_df['prevailing_wage'].min**

- step-3: calculate the max value of prevailing wage  : **visa_df['prevailing_wage'].max**

- step-4: calculate the NR : step-1 - step-2  : **visa_df['prevailing_wage']-min**

- step-5: DR=step3-step-2

- step-5: divide the step/step5

**package name: MinMaxScalar**

In [23]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [29]:
min=visa_df['prevailing_wage'].min()
max=visa_df['prevailing_wage'].max()

nr=visa_df['prevailing_wage']-min
dr=max-min
print(dr/nr)

0        540.970036
1          3.826357
2          2.595299
3          3.825973
4          2.129399
            ...
25475      4.140697
25476      1.143408
25477      2.181923
25478      3.705147
25479      4.503833
Name: prevailing_wage, Length: 25480, dtype: float64